* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d8ffe5;
    color: #010101;
}

#about{
    padding-top: 100px;
}

section:nth-child(odd) {
    background: #d8ffe5;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;

}

header {
    padding: 2px;
    color: #21a027;
    text-align: start;
    height: 19vh;
}

.navbar{
    background: linear-gradient(90deg, rgb(34, 167, 25) 5%, rgb(93, 196, 200) 100%);
    height: fit-content;
     font-family: calibri; padding-right: 15px;padding-left: 15px;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color:rgb(249, 3, 3);
     z-index: 1000;
}
.navdiv{
    display:flex; align-items: center; justify-content: space-between;
}
.navdiv ul li a:hover {
  color: #000000;
}
.navdiv ul li a{
  color: #ffffff;
}
.logo a{
    font-size: 80px; font-weight: 550; color: rgb(255, 255, 255);
     text-shadow: 0px 2px 2px rgb(0, 0, 0);text-decoration: none;
}
.logo img{
    height:100px;
    width: 200px;
    
}
li{
    list-style: none; display: inline-block;
}
li a{
    color: rgb(255, 255, 255); font-size: 18px; font-weight: bold; margin-right: 25px;
    text-decoration: none;
}
.buttonsign{
    background-color: #069a46;
    color: #fff;
    font-size: 13px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
  }
  .buttonsign:hover {
    box-shadow:#000000;
    transform: scale(0.9) rotate(-1deg);
  }
nav a:hover {
    color: #111;
   
}
.main-container {
    padding: 20px;
    text-align: center;
}
.headname {
    display: flex;
}

.home {
    background-color: #d8ffe5 ;
    padding: 10px;
    width:auto;
    margin:105px auto 0 0;
}
.home img {
    border-radius: 30px;
    border: 1px solid #ffffffa1;
    height: 490px;
    width: 700px;
    box-shadow: rgb(67, 77, 38) 0px 20px 30px -10px;
    margin-left: 30px;
    
}

.home p {
    color: rgb(0, 0, 0);
    font-size: 100px;
}
.test{
  display: flex;
  align-items: center;
}

.x{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.x p{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 900;
  font-style: bold;
}
.x span{
  font-weight: 700;
  font-style: bold;
  font-size: 35px;
}
.about-us {
    width: 100%;
    max-width: auto;
    margin: auto;
    padding: 2px;
    background:url(img/about.jpg) center/cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 650px;
}
.about-us h2 {
    font-size: 45px;
    margin-bottom: 10px;
}
  
.about-us p {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 15px;
}
  
.about-us a {
    color: #007bff;
    text-decoration: none;
}
  
.about-us a:hover {
    text-decoration: underline;
}
.container {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.75); 
    border-radius: 10px;
    height: 600px;
    width: 1200px;
    z-index: 2;
    padding: 2px;
  }


.buttondonate{
    background-color: #fff536;
    color: #000000;
    font-size: 13px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttondonate:after {
    box-shadow:#000000;
    transform: scale(0.9) rotate(-1deg);
}

.buttondonate:main,
.buttondonate:focus {
  user-select: auto;
}

.buttondonate:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.buttondonate:disabled {
  cursor: auto;
}

.buttondonate:active {
  border-width: 4px 0 0;
  background: none;
}
.main{
    max-width: 1200px;
    margin: 0 auto;
  }

.main ul{
  display: flex;
  /* column-gap: 50px; */
}
  
.main h1 {
      font-size: 45px;
      font-weight: 800;
      text-align: center;
  }
  
img {
    height: 290px;
    width: 100%;
    vertical-align: middle;
  }
  
.btn {
    color: #000000;
    padding: 0.8rem;
    font-size: 17px;
    border-radius: 25px;
    font-weight: 700;
    display: block;
    width: 30%;
    cursor: pointer;
    /* border: 1px solid rgb(122, 119, 119); */
    background: rgb(192, 248, 207);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
  }
  
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    flex: 1 0 33%; 
    height: 500px; 
    padding: 1rem;
    box-sizing: border-box;
    
  } 
  
  .cards_item:hover {
    scale: 1.05;
  }

  
  .card {
    background-color: rgba(255, 255, 255, 0.625);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
               rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    
    
  }
  
  .card_content {
    background: rgba(35, 216, 38, 0.63);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card_title {
    color: #000000;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: #0b0b0b;
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
}
.donate {
    background-color: #d8ffe5 ;
    display: flex;
    justify-content:space-between;
    padding: 10px;
    width:auto;
    margin:105px auto 0 0;
}
.donate img {
    border-radius: 30px;
    border: 1px solid #ffffffa1;
    float:right;
    height: 480px;
    width: 600px;
    box-shadow: rgb(67, 77, 38) 0px 20px 30px -10px;
    margin-left: 50px;
    
}

.donate p {
    color: rgb(0, 0, 0);
    margin-right: 15px;
}
.donate h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 35px;
    color:#111;
    margin-left: 90px;
    font-weight: 800;
    font-style: bold;
}
.donate h2{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 25px;
  color:#111;
  margin-left: 90px;
  font-weight: 600;
  font-style: bold;
}
.buttondonatelarge{
  background-color: #f4ea2d;
  color: #000000;
  font-size: 20px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttondonatelarge:after {
  box-shadow:#000000;
  transform: scale(0.9) rotate(-1deg);
}

.buttondonatelarge:main,
.buttondonatelarge:focus {
user-select: auto;
}

.buttondonatelarge:hover:not(:disabled) {
filter: brightness(1.1);
-webkit-filter: brightness(1.1);
}

.buttondonatelarge:disabled {
cursor: auto;
}

.buttondonatelarge:active {
border-width: 4px 0 0;
background: none;
}

.vets {
    width: 100%;
    max-width: auto;
    margin: auto;
    padding: 2px;
    background:url(img/vetback.jpg) center/cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 650px;
}
.vets h2 {
    font-size: 45px;
    margin-bottom: 10px;
}
  
.vets  p {
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 15px;
}
  
.vets a {
    color: #007bff;
    text-decoration: none;
}
  
.vets  a:hover {
    text-decoration: underline;
}
#vets{
  padding-top: 100px;
}
.vetbutton{
  background-color: #1321ba;
  color: #fff;
  font-size: 13px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
.vetbutton:hover {
  box-shadow:#000000;
  transform: scale(1.2) rotate(-1deg);
}
.footer {
  height: 200px;
  text-align: center;
  padding: 3px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 8px 4px;
  color: #000000;
}

.fa:hover {
    opacity: 0.9;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  padding: 10px;
}

.footer-section h2 {
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
}

ul li a {
  color: #000000;
  text-decoration: none;
}

ul li a:hover {
  color: #4d28b3;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #8e44ad;
}

